doctype html
html
  head
    title Podstrona
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    div.container
      h1= title
      h2= id
      h3= action
      
      ul
      for row in rows
        li
          a(href="/user/"+row.user_id)= row.name
          span= row.email
        